header {
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
  background-color: white;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
}
.logo {
  color: mediumaquamarine;
  padding-left: 30px;
}
 .nav a {
  justify-content: flex-end;
  text-decoration: underline;
  padding-left: 40px;
}
.nav {
  position: absolute; right:40px;
}
.logo img{
  width: 70px;
  height: 60px;
  margin-right: : 12px;
}

.lead-story {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
  font-size: 40px;
  text-align: left;
  margin-top: 0;
  width: 630px;
}
.image-content{
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  margin-top: 15px;
  font-family: Georgia;
  font-weight: bold;
  color: white;
}
h2 {
  font-size: 30px;
  font-family: Georgia;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
  display: block;
}
